<link href="~/css/mycss/TabuaMare/tabua.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/js/myjs/TabuaMAre/tabua.js" type="text/javascript"></script>
<link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<div class="col-md-12">
    <div class="row">

    </div>

    <div class="row align-items-center" id="listaMare">
        <div class="col-md-4">
            <div class="quadrado">
                <div>
                    <h6>Segunda-feira</h6>
                </div>

                <div class="infos">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Hora</th>
                                <th scope="col">Altura</th>
                                <th scope="col">Agitação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">00h</th>
                                <td scope="row">1.5</th>
                                <td scope="row">1.5</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>