@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    <h1>BTP:CODE - TPDataBiz</h1>
       @* <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

<div class="row">

    <div>
        <label class="label" style="color:black"><strong>Data: </strong></label>
        <input type="text" name="date" id="date" />
        <button type="button" class="btn" id="btnConsultarClimaTempo" name="btnConsultarClimaTempo">Clima</button>
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        

       
        $("#btnConsultarClimaTempo").click(function () {
            debugger;

            const TOKEN = '9f37d38446d66bdd2d4e310cbe910cf7'
            const ID_CITY = '3675'
            const _URLBASE = 'https://apiadvisor.climatempo.com.br/api/'
            //var _urlComplete = `${_URLBASE}v1/forecast/locale/${ID_CITY}/days/15?token=${TOKEN}`
            var _urlComplete = "http://192.168.28.70:7500/climate";

            //$.ajax( 
            //    {
            //        type: 'POST',
            //        url: _urlComplete,
            //        dataType: 'jsonp',
            //        contentType: 'application/json',
            //        data: {"date_br" : "06/04/2019"},
            //        success: function (data) {
            //            //console.log("oie", json.value);
            //            debugger;
            //            alert("Data: " + data);
            //        }
            //    });

            $.get(_urlComplete, function (data) {
                alert("Data: " + data + "\nStatus: " + status);
            });
            });

            @*var url = 'http://192.168.28.70:7500/climate';
            '@Url.Action("GetClimate", "Home"})';*@
        });

</script>

